<div class="page-header">
    <div class="title-wrapper">
        <h3>Results</h3>
        <p>Select a date</p>
    </div>

    <div class="button-wrapper">
        <button (click)="fetchData()">
            Get Data    
        </button>
        <button routerLink="create">
            Upload New Set
        </button>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>Type</th>
            <th>Number</th>
            <th>Area</th>
            <th>Perimeter</th>
            <th>Circularity</th>
            <th>Major Axis Length</th>
            <th>Minor Axis Length</th>
            <th>contrast</th>
            <th>dissimilarity</th>
            <th>homogeneity</th>
            <th>ASM</th>
            <th>energy</th>
            <th>correlation</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="isLoading"  style="text-align: center;">
            <td colspan="13">Loading....</td>
        </tr>
        <tr>
            <td colspan="13" *ngIf="!isLoading && rows?.length === 0 " style="text-align: center;">
                No date to display
            </td>
        </tr>
        <ng-container  *ngIf="!isLoading">
            <tr *ngFor="let item of rows;">
                <td>{{item?.Type}}</td>
                <td>{{item?.Number}}</td>
                <td>{{item?.['Area (mm^2)']}}</td>
                <td>{{item?.['Perimeter (mm)']}}</td>
                <td>{{item?.Circularity}}</td>
                <td>{{item?.['Major Axis Length (mm)']}}</td>
                <td>{{item?.['Minor Axis Length (mm)']}}</td>
                <td>{{item?.contrast}}</td>
                <td>{{item?.dissimilarity}}</td>
                <td>{{item?.homogeneity}}</td>
                <td>{{item?.ASM}}</td>
                <td>{{item?.energy}}</td>
                <td>{{item?.correlation}}</td>
            </tr>
        </ng-container>
        <!-- <tr>
            <td [colSpan]="13" style="text-align: center;">No reults to display</td>
        </tr> -->
    </tbody>
</table>