<div class="status-wrapper">
    <div class="status">
        <h5>Connection</h5> : <span>{{connectDeviceData.isLoading ? "Connecting" : connectDeviceData.isConnected ?
            "Connected" : "Not Connected"}}</span>
        <button (click)="onConnectToDevice()" [disabled]="connectDeviceData.isLoading"
            *ngIf="!connectDeviceData.isConnected">
            Connect
        </button>
    </div>
    <div class="status">
        <h5>Capture</h5> : <span>{{captureData.isLoading ? "Connecting" : captureData.isCaptured ?
            "Capturing" : "Idle"}}</span>
        <button (click)="onCapture()" [disabled]="captureData.isLoading" *ngIf="!captureData.isCaptured">
            Connect
        </button>
    </div>
</div>

<div class="page-header">
    <div class="title-wrapper">
        <h3>Results</h3>
    </div>

</div>

<div class="dates">
    <a *ngFor="let date of dates" [ngClass]="{'active' : selectedDate  === date}" (click)="onSelectDate(date)">{{date +
        1}}</a>
</div>

<table>
    <thead>
        <tr>
            <th>PlantNo</th>
            <th>Date</th>
            <th>No of Main Branches</th>
            <th>No of Flowers</th>
            <th>No of Fruits</th>
            <th>Plant Height (CM)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>11/29/2023</td>
            <td>3</td>
            <td>0</td>
            <td>2</td>
            <td>78</td>
        </tr>
        <tr>
            <td>2</td>
            <td>11/29/2023</td>
            <td>3</td>
            <td>0</td>
            <td>1</td>
            <td>84</td>
        </tr>
        <tr>
            <td>3</td>
            <td>11/29/2023</td>
            <td>6</td>
            <td>2</td>
            <td>0</td>
            <td>79</td>
        </tr>
        <tr>
            <td>4</td>
            <td>11/29/2023</td>
            <td>3</td>
            <td>2</td>
            <td>2</td>
            <td>83</td>
        </tr>
        <tr>
            <td>5</td>
            <td>11/29/2023</td>
            <td>3</td>
            <td>1</td>
            <td>0</td>
            <td>82</td>
        </tr>
        <tr>
            <td>6</td>
            <td>11/29/2023</td>
            <td>5</td>
            <td>1</td>
            <td>0</td>
            <td>79</td>
        </tr>
        <tr>
            <td>7</td>
            <td>11/29/2023</td>
            <td>6</td>
            <td>0</td>
            <td>3</td>
            <td>90</td>
        </tr>
        <tr>
            <td>8</td>
            <td>11/29/2023</td>
            <td>4</td>
            <td>0</td>
            <td>1</td>
            <td>79</td>
        </tr>
        <tr>
            <td>9</td>
            <td>11/29/2023</td>
            <td>6</td>
            <td>2</td>
            <td>0</td>
            <td>83</td>
        </tr>
        <tr>
            <td>10</td>
            <td>11/29/2023</td>
            <td>4</td>
            <td>1</td>
            <td>3</td>
            <td>80</td>
        </tr>
        <tr>
            <td>11</td>
            <td>11/29/2023</td>
            <td>4</td>
            <td>3</td>
            <td>1</td>
            <td>83</td>
        </tr>
        <tr>
            <td>12</td>
            <td>11/29/2023</td>
            <td>6</td>
            <td>2</td>
            <td>0</td>
            <td>80</td>
        </tr>
        <tr>
            <td>13</td>
            <td>11/29/2023</td>
            <td>4</td>
            <td>0</td>
            <td>3</td>
            <td>82</td>
        </tr>
    </tbody>
</table>
