<div class="status-wrapper">
    <div class="status">
        <h5>Connection</h5> : <span>{{connectDeviceData.isLoading ? "Connecting" : connectDeviceData.isConnected ?
            "Connected" : "Not Connected"}}</span>
        <button (click)="onConnectToDevice()" [disabled]="connectDeviceData.isLoading"
            *ngIf="!connectDeviceData.isConnected">
            Connect
        </button>
    </div>
    <div class="status">
        <h5>Capture</h5> : <span>{{captureData.isLoading ? "Connecting" : captureData.isCaptured ?
            "Capturing" : "Idle"}}</span>
        <button (click)="onCapture()" [disabled]="captureData.isLoading" *ngIf="!captureData.isCaptured">
            Connect
        </button>
    </div>
</div>

<div class="page-header">
    <div class="title-wrapper">
        <h3>Results</h3>
        <p>Select a date</p>
    </div>

</div>

<div class="dates">
    <a *ngFor="let date of dates" [ngClass]="{'active' : selectedDate  === date}" (click)="onSelectDate(date)">{{date +
        1}}</a>
</div>


<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action(s)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2321212</td>
            <td>2023/11/28</td>
            <td>Captured</td>
            <td><a>View</a></td>
        </tr>
        <tr>
            <td>2321212</td>
            <td>2023/11/28</td>
            <td>Captured</td>
            <td><a>View</a></td>
        </tr>
        <tr>
            <td>2321212</td>
            <td>2023/11/28</td>
            <td>Captured</td>
            <td><a>View</a></td>
        </tr>
        <tr>
            <td>2321212</td>
            <td>2023/11/28</td>
            <td>Captured</td>
            <td><a>View</a></td>
        </tr>
    </tbody>
</table>