nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 20px;

  h2 {
    font-size: 2rem;
  }

  .link-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 4rem;

    a {
      text-decoration: none;
      color: black;

      &.active {
        color: var(--color-primary-500);
        font-weight: 600;
      }

      &:hover {
        color: var(--color-primary-600);
      }
    }
  }
}
