button {
  background: var(--color-primary-500);
  color: var(--color-shades-00);
  border: solid 1px var(--color-primary-500);
  cursor: pointer;
  border-radius: 6px;
  padding-inline: 15px;

  &:disabled {
    background: var(--color-primary-300);
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background: var(--color-primary-600);
  }
}
